<form action="/items" method="post">
  <label for="location">Add a new location</label>
  <input id="location" name="location" type="text">

  <label for="longitude">Add the longitude</label>
  <input id="longitude" name="longitude" type="text">

  <label for="latitude">Add the latitude</label>
  <input id="latitude" name="latitude" type="text">

    <label for="season">Add the season</label>
  <input id="season" name="season" type="text">

  <button type="submit">Submit</button>
</form>