<form action="/places" method="post">
  <label for="place">Add a new place</label>
  <input id="place" name="place" type="text">

  <label for="longt">Add the longt</label>
  <input id="longt" name="longt" type="text">

  <label for="lat">Add the lat</label>
  <input id="lat" name="lat" type="text">

    <label for="season">Add the season</label>
  <input id="season" name="season" type="text">

  <button type="submit">Submit</button>
</form>